.attachment-btn {
	 background:none!important;
     border:none; 
     padding:0!important;
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}

.skin-blue .sidebar a {
    cursor: pointer;
}

.customstool-modal {
	background-color: black;
	opacity: 0.5;
}

.has-feedback label~.form-control-feedback {
    top: 35px;
}

.customs-icon-align {
	margin-top: 20px;	
}

#example1_filter > label > input {
	margin-left: 20px;
}

.info-box-text {
    margin-top: 15px;
}

.skin-blue .sidebar-menu>li.header {
    color: rgb(175,190,0) !important
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}


.customs-loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 40%;
}
.customs-loader div {
  transform-origin: 32px 32px;
  animation: customs-loader 1.2s linear infinite;
}
.customs-loader div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.customs-loader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.customs-loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.customs-loader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.customs-loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.customs-loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.customs-loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.customs-loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.customs-loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.customs-loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.customs-loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.customs-loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.customs-loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes customs-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nogamu-header-text {
  font-weight: 700;
  line-height: 1;
  color: rgb(0,102,56) ;
}

.nogamu-content-header {
  margin-top: -40px;
  margin-bottom: 20px;
}

.fileinput-cancel-button {
  display: none;
}
.file-input {
    margin-bottom: 20px;
}