.card-img-top.img-responsive {
    height: 220px;
    object-fit: cover;
}
.qwikmed-subheading {
    line-height: 22px;
    font-size: 14px;
    color: #54667a;
}
.sidebar-item-custom {
    font-size: 14px;
}
.qwikmed-header-text {
    display: flex;
}
.qwikmed-header-text > small {
    margin-top: 22px;
    margin-left: 7px;
}
.qwikmed-table, .qwikmed-table > thead > tr > th {
    text-align: center;
}
.doctor-form .input-group-btn {
    margin: 2px 4px;
    display: inline;
}
.qwikmed-lang-icon {
    color: green;
    margin-right: 4px;
}